extends layout

block content
    div(class="container-fluid",id="calculator", ng-controller="MT")

    div(class="container-fluid",id="calculator", ng-controller="Calculator")
        div(class="col-sm-3 col-md-4 col-lg-4" )
        div(class="col-sm-6 col-md-4 col-lg-4" )
            h1(style="text-align:right")
                {{output}}
            div(class="btn-group btn-group-justified", role="group", aria-label="...")
                div(class="btn-group",role="group")
                    button(type="button", value="1", class="btn btn-default btn-xl", ng-click="appendToOut(1)") 1
                div(class="btn-group", role="group")
                    button(type="button", value="2", class="btn btn-default btn-xl", ng-click="appendToOut(2)") 2
                div(class="btn-group", role="group")
                    button(type="button", value="3", class="btn btn-default btn-xl", ng-click="appendToOut(3)") 3
            div(class="btn-group btn-group-justified", role="group", aria-label="...")
                div(class="btn-group",role="group")
                    button(type="button", value="4", class="btn btn-default btn-xl", ng-click="appendToOut(4)") 4
                div(class="btn-group",role="group")
                    button(type="button", value="5", class="btn btn-default btn-xl", ng-click="appendToOut(5)") 5
                div(class="btn-group",role="group")
                    button(type="button", value="6", class="btn btn-default btn-xl", ng-click="appendToOut(6)") 6
            div(class="btn-group btn-group-justified", role="group", aria-label="...")
                div(class="btn-group",role="group")
                    button(type="button", value="7", class="btn btn-default btn-xl", ng-click="appendToOut(7)") 7
                div(class="btn-group",role="group")
                    button(type="button", value="8", class="btn btn-default btn-xl", ng-click="appendToOut(8)") 8
                div(class="btn-group",role="group")
                    button(type="button", value="9", class="btn btn-default btn-xl", ng-click="appendToOut(9)") 9
            div(class="btn-group btn-group-justified", role="group", aria-label="...")
                div(class="btn-group",role="group")
                    button(type="button", value="+", class="btn btn-default btn-xl", ng-click="add()") +
                div(class="btn-group",role="group")
                    button(type="button", value="0", class="btn btn-default btn-xl", ng-click="appendToOut(0)") 0
                div(class="btn-group",role="group")
                    button(type="button", value="-", class="btn btn-default btn-xl", ng-click="subtract()") -
            p
            div(ng-controller="MT")
                button(class="btn btn-default btn-xl", ng-click="goToMenu()", style="text-align:center") Go Back
                span(style="float:right")
                    button(type="button", value="C", class="btn btn-default btn-xl", ng-click="clear()") C
        div(class="col-sm-3 col-md-4 col-lg-4" )
