extends layout

block content
    div(class="container-fluid", ng-hide="clicked")
        div(class="row-fluid")
        div(class="col-sm-3 col-md-4 col-lg-4" )
        div(class="col-sm-6 col-md-4 col-lg-4" )
            h1(class='title', style='text-align:center').
                Board Game Money Tracking!
            p
            p(style="text-align:center").
                Paper money is lame, track your money in style
            p
            p
            a(href="/newgame")
                button(type="button", class="btn btn-success btn-group-justified btn-xl")= "Start a Game now!"
        div(class="col-sm-3 col-md-4 col-lg-4" )
