extends layout

block content
    div(ng-controller="Emit")
        button(class="btn btn-default", ng-click="testConnection()").
            TestConnection 
    div(ng-controller="MT")
        h1.
            {{ something }}
        li(ng-repeat="player in playerList")
            span.
                {{ player.name }}
            p.
                {{ player.money | currency }}

