doctype html
html(lang="en", ng-app)
    head
        meta(charset="utf-8")
        title= "MoneyTracker for " + gameTitle 
        link(rel='stylesheet', href='/stylesheets/style.css')
        //link(rel="stylesheet", href="css/app.css")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
        script(src="../public/javascripts/moneytrackerApp.js")
    body!= body
