doctype html
html
    head
        // css stylings
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")
        //local css stylings
        link(rel="stylesheet", href="/stylesheets/style.css")

        // boilerplate
        meta(charset="UTF-8", name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js") 

        // title in toolbar
        title MoneyTracker

        // local scripts
        link(rel="shortcut icon", type="image/png", href="/images/favicon.ico")
    body(style='padding:0px')
        block content
