extends login

block title
    - var signup = true

block register
    .form-group
        input.form-control(type='password', name="passwordConf", placeholder='Confirm Password')
    br
    .form-group
        input.form-control(type='text', name="email", placeholder='Email Address')
